In [78]:
import pandas as pd
df=pd.read_csv("data/student_performance.csv")
#Data Cleansing
# Data Understanding & Inspection
print(f"Df Shape : {df.shape}")
print("Column Names : ")
print(df.columns)
print("Column Information")
df.info()
Selected_df=df.copy()
#Noise Reduction

Selected_df=Selected_df.drop(columns=["student_id","gender","school_type","parental_education","internet_access","weekend_alcohol_1_5","family_support","free_time_1_5","passed","extracurricular",	"health_1_5"	,"weekday_alcohol_1_5"]).copy()

Df Shape : (1000, 20)
Column Names :
Index(['student_id', 'gender', 'age', 'school_type', 'parental_education',
       'study_time_hours_per_week', 'failures', 'absences', 'extracurricular',
       'internet_access', 'health_1_5', 'weekday_alcohol_1_5',
       'weekend_alcohol_1_5', 'family_support', 'free_time_1_5',
       'math_score_0_100', 'reading_score_0_100', 'writing_score_0_100',
       'final_grade_0_100', 'passed'],
      dtype='object')
Column Information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   student_id                 1000 non-null   object
 1   gender                     1000 non-null   object
 2   age                        906 non-null    float64
 3   school_type                1000 non-null   object
 4   parental_education         978 non-null    object
 5   study_time_hours_per_week  904 non-null    float64
 6   failures                   893 non-null    float64
 7   absences                   896 non-null    float64
 8   extracurricular            1000 non-null   object
 9   internet_access            1000 non-null   object
 10  health_1_5                 901 non-null    float64
 11  weekday_alcohol_1_5        910 non-null    float64
 12  weekend_alcohol_1_5        905 non-null    float64
 13  family_support             1000 non-null   object
 14  free_time_1_5              892 non-null    float64
 15  math_score_0_100           915 non-null    float64
 16  reading_score_0_100        903 non-null    float64
 17  writing_score_0_100        896 non-null    float64
 18  final_grade_0_100          879 non-null    float64
 19  passed                     1000 non-null   object
dtypes: float64(12), object(8)
memory usage: 156.4+ KB

In [79]:
Selected_df.head()
independent_variables=Selected_df.iloc[:,0:7].copy()
independent_variables.head()
dependent_variable=Selected_df["final_grade_0_100"]
dependent_variable.head().reset_index()

   index  final_grade_0_100
0      0               44.4
1      1               58.4
2      2               36.3
3      3               53.5
4      4               63.8

In [80]:
Selected_df.describe()
'''
We are going to perform analysis to check Student Performance Factor 

'''

'\nWe are going to perform analysis to check Student Performance Factor \n\n'

In [81]:
# Handling Missing Values
print(f" No of Rows contain Null values :\n { Selected_df.isnull().sum()}")

 No of Rows contain Null values :
 age                           94
study_time_hours_per_week     96
failures                     107
absences                     104
math_score_0_100              85
reading_score_0_100           97
writing_score_0_100          104
final_grade_0_100            121
dtype: int64

In [82]:
Selected_df.dropna(subset=["final_grade_0_100"],inplace=True)

Selected_df["age"]=Selected_df["age"].fillna(Selected_df["age"].mean()).copy()
Selected_df["study_time_hours_per_week"]=Selected_df["study_time_hours_per_week"].fillna(Selected_df["study_time_hours_per_week"].mean()).copy()
Selected_df["failures"]=Selected_df["failures"].fillna(Selected_df["failures"].mean()).copy()
Selected_df["absences"]=Selected_df["absences"].fillna(Selected_df["absences"].mean()).copy()
Selected_df["math_score_0_100"]=Selected_df["math_score_0_100"].fillna(Selected_df["math_score_0_100"].mean()).copy()
Selected_df["reading_score_0_100"]=Selected_df["reading_score_0_100"].fillna(Selected_df["reading_score_0_100"].mean()).copy()
Selected_df["writing_score_0_100"]=Selected_df["writing_score_0_100"].fillna(Selected_df["writing_score_0_100"].mean()).copy()

print(f" No of Rows contain Null values :\n { Selected_df.isnull().sum()}")
Selected_df.head()

 No of Rows contain Null values :
 age                          0
study_time_hours_per_week    0
failures                     0
absences                     0
math_score_0_100             0
reading_score_0_100          0
writing_score_0_100          0
final_grade_0_100            0
dtype: int64

,age,study_time_hours_per_week,failures,absences,math_score_0_100,reading_score_0_100,writing_score_0_100,final_grade_0_100
0,15.0,15.3,0.000000,5.000000,52.8,40.600000,56.14293,44.4
1,16.0,11.3,0.000000,4.000000,54.8,55.464557,50.40000,58.4
2,18.0,7.6,0.345663,4.000000,31.4,52.100000,32.20000,36.3
3,17.0,11.8,0.000000,2.906329,51.9,52.500000,51.40000,53.5
4,17.0,8.2,0.000000,3.000000,59.7,56.700000,57.40000,63.8

In [83]:
#Removing Duplicates
print(f"Check Duplicates if exists : {Selected_df.duplicated().sum()}")

Check Duplicates if exists : 0

In [85]:
#Data Type Correction
print(" Check if Data types need conversion ")
print(Selected_df.dtypes)

 Check if Data types need conversion
age                          float64
study_time_hours_per_week    float64
failures                     float64
absences                     float64
math_score_0_100             float64
reading_score_0_100          float64
writing_score_0_100          float64
final_grade_0_100            float64
dtype: object

In [88]:
numeric_cols=Selected_df.select_dtypes(include="number").columns
for cols in numeric_cols:
    Q1=Selected_df[cols].quantile(0.25)
    Q3=Selected_df[cols].quantile(0.75)
    IQR=Q3-Q1
    lower=Q1-1.5*IQR
    upper=Q3+1.5*IQR
    outlier=Selected_df[(Selected_df[cols]<lower)|(Selected_df[cols]>upper)]
    print(f"So the Outliers we have in {cols}  is {outlier.shape[0]}")

So the Outliers we have in age  is 50
So the Outliers we have in study_time_hours_per_week  is 4
So the Outliers we have in failures  is 169
So the Outliers we have in absences  is 5
So the Outliers we have in math_score_0_100  is 15
So the Outliers we have in reading_score_0_100  is 20
So the Outliers we have in writing_score_0_100  is 24
So the Outliers we have in final_grade_0_100  is 8

In [101]:
#if outliers are data errors
#Data Validation
for_age=Selected_df.loc[(Selected_df["age"]<3)|(Selected_df["age"]>40),["age"]]
display(for_age)
for_study_time_hours_per_week=Selected_df.loc[(Selected_df["study_time_hours_per_week"]<0)|(Selected_df["study_time_hours_per_week"]>120),["study_time_hours_per_week"]]
display(for_study_time_hours_per_week)
for_failures=Selected_df.loc[(Selected_df["failures"]<0)|(Selected_df["failures"]>10),["failures"]]
display(for_failures)
for_absences=Selected_df.loc[(Selected_df["absences"]<0)|(Selected_df["absences"]>40),["absences"]]
display(for_absences)
for_math_score_0_100=Selected_df.loc[(Selected_df["math_score_0_100"]<0)|(Selected_df["math_score_0_100"]>100),["math_score_0_100"]]
display(for_math_score_0_100)
for_reading_score_0_100=Selected_df.loc[(Selected_df["reading_score_0_100"]<0)|(Selected_df["reading_score_0_100"]>100),["reading_score_0_100"]]
display(for_absences)
for_writing_score_0_100=Selected_df.loc[(Selected_df["writing_score_0_100"]<0)|(Selected_df["writing_score_0_100"]>100),["writing_score_0_100"]]
display(for_writing_score_0_100)
for_final_grade_0_100=Selected_df.loc[(Selected_df["final_grade_0_100"]<0)|(Selected_df["final_grade_0_100"]>100),["final_grade_0_100"]]
display(for_final_grade_0_100)
print("None of the outlier is data error")

Empty DataFrame
Columns: [age]
Index: []

Empty DataFrame
Columns: [study_time_hours_per_week]
Index: []

Empty DataFrame
Columns: [failures]
Index: []

Empty DataFrame
Columns: [absences]
Index: []

Empty DataFrame
Columns: [math_score_0_100]
Index: []

Empty DataFrame
Columns: [absences]
Index: []

Empty DataFrame
Columns: [writing_score_0_100]
Index: []

Empty DataFrame
Columns: [final_grade_0_100]
Index: []

None of the outlier is data error